.news_content{padding:36px 30px 100px 30px;min-height:1000px;color:#666666;}
.news_content .news_title{font-size:24px;font-weight:700;color:#666666;}
.news_content .news_time{height:58px;line-height: 58px;font-size:14px;padding-bottom:7px;border-bottom:1px solid #d7d7d7;color:#999999;}
.news_content .news_value{font-size:14px;line-height:28px;margin-top:12px;}
.news_content .news_time span{padding-right:20px;}